@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter;
}

/* Header style */
.main-header {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 20px; 
  background-color: #a086e9; 
  background: linear-gradient(90deg, #6c43ff 0%, #7f24ff 100%);
}

.logo {
  height: 60px;
  width: auto;
  background-color: white;
  border-radius: 25%; /* Круглая форма */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 25%; /* Круглая форма */
}

.menu-icon {
  position: relative;
  cursor: pointer;
}

.menu-icon img {
  display: block;
  height: 30px;
  width: 35px;
  margin: 4px 10px;
  cursor: pointer;
}

/* main style */
.main-content {
  width: 100%;
  min-height: calc(100vh - 110px); 
  background-color: #202020; 
}
